@import '@/vars.css';

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
.logo{
    font-family: 'Calligraffitti', cursive;
    margin-top: 2rem;
    height: 10vh;
    font-weight: 100;
    color: var(--white);
} 
