@import "@/vars.css";

@media only screen 
  and (min-device-width: 365px) {
    div.navbar{
      height: 60vh;
    }
  }
  @media only screen 
  and (min-device-width: 450px) {
    div.navbar{
      height: 50vh;
    }
  }
  @media only screen 
  and (min-device-width: 650px) {
    div.navbar{
      display: none;
    }
  }
.navbar {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  top: 10%;
  background-color: var(--background-secondary);
}
.border {
  background-color: var(--background-secondary);
  overflow: hidden;
  line-height: 0;
  height: 100%;
}
.active {
  display: none;
}
.link {
  font-size: 1.5rem;
  padding: 10px;
  color: var(--text-secondary);
}
.icon {
  color: var(--text-secondary);
  font-size: 1.4rem;
}
.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
