@import "@/vars.css";

.navbar {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  top: 10%;
  background-color: var(--background-secondary);
}
.border {
  background-color: var(--background-secondary);
}
.active {
  display: none;
}
.link {
  font-size: 1.5rem;
  padding: 10px;
  color: var(--text-secondary);
}
.icon {
  color: var(--text-secondary);
  font-size: 1.4rem;
}
.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}
