@media only screen 
  and (min-device-width: 443px) {
    .footer .copyright{
        font-size: 1rem;
        margin-top: 5rem;
    }
  }

.footer{
    background-color: hsla(240, 8%, 9%, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 3rem 0;
}

.copyright{
    font-size: 0.8rem;
    text-align: center;
    color: hsla(214, 16%, 64%, 1);
}


