.footer{
    background-color: hsla(240, 8%, 9%, 1);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 3rem 0;
}
.links{
    display: flex;
    justify-content: center;
}
.copyright{
    font-size: 0.8rem;
    text-align: center;
    color: hsla(214, 16%, 64%, 1);
}
.links>a{
    color: hsla(255, 83%, 65%, 1);
    font-size: 1.5rem;
}

