.footer{
    background-color: #F9FAFB;
   
    margin: 0 auto;
    height: 15vh;
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-top: 10vh;
}
.links{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.copyright{
    display: flex;
    justify-content: center;
}
.links>a{
     margin: 0 10px;
    font-size: 1.5rem;
}
.links>a:hover{
    color: #4B5563;
}
