@import "@/vars.css";

.footer{
    background-color: var(--black);
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 3rem 0;
}

.copyright{
    font-size: 0.8rem;
    text-align: center;
    color: var(--gray);
}


