:root {
  --background-primary: hsl(240, 9%, 9%);
  --background-secondary: hsl(240, 0%, 26%);
  --text-primary: hsl(0, 0%, 98%);
  --text-secondary: hsl(0, 0%, 64%);
}
[data-theme="dark"] {
  --background-primary: hsl(0, 0%, 90%);
  --background-secondary: hsl(0, 0%, 98%);
  --text-primary: hsl(0, 0%, 15%);
  --text-secondary: hsl(0, 0%, 45%);
}
